<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		th:replace="~{fragments/layout-form::layout(~{::title}, ~{::section})}">

<title th:text="${boardTitle}"></title>

<section>
	<!-- 전체 -->
	<div class="container px-5 py-4">
		<!-- board with -->
		<div th:with="b = ${board}" class="container px-4 col-10 mb-4">
			<!-- 제목 -->
			<h2 class="py-4" th:text="${b.boardTitle}">제목</h2>
			<!-- 사용자 및 게시판 정보 -->
			<div class="row">
				<!-- 사용자 정보 -->
				<div class="col">
					<form method="post" th:action="@{|/posts/${board.boardNo}|}">
						<span th:text="${b.boardWriter}" class="fs-5 me-3">작성자</span>
						<span th:text="${#temporals.format(b.boardDate, 'yyyy-MM-dd HH:mm')}" class="fs-75">등록일</span>
						<span class="border-start border-end px-2"><a class="link-light" th:href="@{|/posts/${board.boardNo}/modify|}">수정</a></span>
						<span><button type="submit" class="link-light bg-dark border-0">삭제</button></span>
					</form>
				</div>
				<!-- 게시판 정보 -->
				<div class="col-auto me-auto pt-1">
					<span th:text="|조회수 ${b.boardCnt}|" class="fs-75">조회수</span>
					<span th:text="|댓글수 ${b.boardCmnts}|" class="border-start border-end px-2 fs-75">댓글수</span>
					<span th:text="|좋아요 ${b.boardLike}|" class="fs-75">좋아요 수</span>
				</div>
			</div>
			<div>
				<!-- 내용 -->
				<p th:text="${b.boardContent}" class="py-5 my-3 border-top border-bottom">내용</p>
				<!-- 좋아요 및 댓글 -->
				<div class="row">
					<div class="col-auto">
						<svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
							<path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
						</svg>
						<span th:text="|좋아요 ${b.boardLike}|">좋아요</span>
					</div>
						<div class="col-auto">
							<svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-chat-left-text-fill" viewBox="0 0 16 16">
								<path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"/>
							</svg>
							<span th:text="|댓글 ${b.boardCmnts}|">댓글</span>
						</div>
				</div>
			</div>
		</div>
		
		<!-- 댓글 with -->
		<div class="container px-4 col-10 my-2">
			<!-- 댓글 등록 -->
			<div class="row">
				<div class="col-auto">
					<span>유저 닉네임</span>
				</div>
				<form action="#" class="col">
					<div class="mb-3">
						<label for="exampleFormControlInput1" class="visually-hidden">comment</label>
						<input type="text" class="form-control py-5" id="exampleFormControlInput1" placeholder="좋은 댓글 문화를 만들어가요.">
					</div>
					<button type="submit" class="btn btn-primary float-end">댓글 작성</button>
				</form>
			</div>
			<!-- 댓글 조회 -->
			<div>
				<!-- 댓글 작성자 정보 -->
				<div></div>
				<!-- 댓글 내용 -->
				<div></div>
			</div>
		</div>

	</div>
</section>