<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		th:replace="~{fragments/layout-form::layout(~{::title}, ~{::section})}">

<title>게시글 작성</title>

<section>
	<!-- 전체 -->
	<div class="container px-5 py-4">
    <!-- 게시글 작성 -->
    <form class="container px-4 col-10 mb-4">
      <div class="mb-4 input-group-lg">
        <h2 class="pt-4"><label for="title" class="form-label">제목</label></h2>
        <input type="text" name="title" class="form-control" id="title" placeholder="제목을 입력해주세요." required>
      </div>
      <div class="my-4 input-group-lg">
        <label for="content" class="form-label"><h2>내용</h2></label>
        <textarea class="form-control" name="content" id="content" rows="10" placeholder="내용을 입력해주세요." required></textarea>
      </div>
      <!-- 버튼 라인 -->
      <div class="mt-3">
        <a class="btn btn-secondary btn-lg px-4" href="/posts" role="button">취소</a>
        <input class="btn btn-primary btn-lg float-end px-4" type="submit" value="등록">
      </div>
    </form>
	</div>
</section>